<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Properties>
        <property name="LOG_DIR">logs</property>
        <property name="ARCHIVE_LOG_DIR">${LOG_DIR}/archive</property>
        <property name="pattern_console">%d{HH:mm:ss} %-5level - %msg%n</property>
        <property name="pattern_zip">%d{HH:mm:ss} [%t] %-5level %logger{5} - %msg%n</property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${pattern_console}" />
        </Console>
        <File name="File1" fileName="logs/text.log" bufferedIO="true">
            <PatternLayout pattern="${pattern_console}"/>
        </File>
        <RollingFile name="FileRolling" fileName="logs/text_roll.log" append="true"
                     filePattern="logs/${date:yyyy-MM-dd}/%d{yyyy-MM-dd_HH-mm}_%i.log">
            <PatternLayout pattern="${pattern_console}"/>
            <Policies>
                <SizeBasedTriggeringpolicy size="25 KB"/>
            </Policies>
        </RollingFile>
        <RollingFile name="FileZip" fileName="${LOG_DIR}/text_arch.log" append="true"
                     filePattern="${ARCHIVE_LOG_DIR}/${date:yyyy-MM-dd}/%d{yyyy-MM-dd_HH-mm}_%i.log.zip">
            <PatternLayout pattern="${pattern_zip}"/>
            <BurstFilter level="INFO" rate="16" maxBurst="100"/>
            <Policies>
                <SizeBasedTriggeringpolicy size="25 KB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="debug">
            <!--<AppenderRef ref="FileZip"/>-->
            <AppenderRef ref="Console" level="trace"/>
        </Root>
    </Loggers>
</Configuration>
